<div class="container mt-5">
  <nav class="row">
    <div class="nav-wrapper">
      <span class="brand-logo center">{{title | uppercase}}</span>
    </div>
  </nav>
  <div class="content">
    <div class="row">
      <button class="btn col s2 offset-s10">Dodaj zadanie
      </button>
      <button class="btn col s2 offset-s10">Zakończ
      </button>
    </div>

    <div class="row">
      <input class="col s8" type="text" placeholder="Dodaj zadanie i datę wykonania"/>
      <input class="col s2 disabled" type="date"/>
      <button class="btn-floating">+
      </button>
    </div>

    <ul class="collection">
      <li class="collection-item row">
          <span class="col s10">
            1. Siłownia - 02.01 czwartek
          </span>
        <div class="col s2 right-align">
          <button class="btn-floating btn-small red mr-5">
            <i class="material-icons">remove</i>
          </button>
          <button class="btn-floating btn-small green">
            <i class="material-icons">check</i>
          </button>
        </div>
      </li>
      <li class="collection-item row">
        <span class="col done">Sprzątnie strychu</span>
      </li>
    </ul>

    <h1>Dzisiaj brak zadań :-)</h1>

    <button class="btn red">
      Wyczyść
    </button>

    <h3>Lokalizacja</h3>
    <p>{{ '07-15-1410' | date: 'fullDate'}}</p>
    <p>{{ '07-15-1410' | date: 'fullDate':'':'en' | uppercase}}</p>
    <p>{{ '07-15-1410' | date: 'fullDate':'':'bn'}}</p>
    <p>Bez formatowania</p>
    <p>{{ num }}</p>
    <p>Format</p>
    <p>{{ num | number }}</p>
    <p>{{ num | number: '2.4-5' }}</p>
    <p>{{ num | number: '2.4-5': 'pl' }}</p>
    <p>{{ num | number: '2.4': 'bn' }}</p>
    <p>{{ num | number: '1.0-0' }}</p>
    <p>I18nSelectPipe</p>
    <p>{{ 'zima' | i18nSelect: translate }}</p>
    <p>{{ 'wiosna' | i18nSelect: translate }}</p>
    <p>{{ 'lato' | i18nSelect: translate }}</p>
    <p>{{ 'jesień' | i18nSelect: translate }}</p>
    <p>TitleCasePipe</p>
    <p> {{'źLe sFORMAtowaNy teKST' | titlecase}}</p>
    <p>CurrencyPipe</p>
    <p>{{ price | currency }}</p>
    <p>{{ price | currency: 'PLN' }}</p>
    <p>{{ price | currency: 'USD' }}</p>
    <p>Interpolacja w formacie json: {{translate | json}}</p>
  </div>


  <footer class="page-footer mt-5">
    <div class="footer-copyright">
      <div class="container">{{getDate() | date: 'dd.MM.yyyy'}}{{footer}}</div>
    </div>
  </footer>
</div>